body{
	background-color: #76b852;
}
.we{
	border: 30px solid #76b852;
}

.position {
	border: 30px solid white;
	margin:200px 400px 200px 400px;
	background-color: white;
	padding:px;
	}
.up{
height: 40px;
width: 300px;
border: none;
background-color: #f2f2f2;
}
.down{
	height: 40px;
	width: 300px;
	border: none;
	background-color: #f2f2f2;
}
.btt{
	height: 60px;
	width: 300px;
	color: white;
	background-color: green;
	border: none;
}
#center{
	padding-left: 40px;

}
.you{
	text-decoration: none;
	color: green;
}